<!DOCTYPE html>
<html>
	<head>
		<title>Dispatch example</title>
		<script src="/static/wsrpc.js" language="javascript"></script>
		<script src="/static/vue.min.js" language="javascript"></script>
	</head>
	<style>
	.column {
		display: inline-block;
		vertical-align: top;
		margin: 10px;
	}
	</style>
	<script>

var server = null;
var log = null;
var stream = null;

function init_page(address)
{
	log = new Vue({
		el: '#log',
		data: {
			lines: []
		},
		delimiters: ["[[", "]]"]
	});
	stream = new Vue({
		el: '#stream',
		data: {
			lines: []
		},
		delimiters: ["[[", "]]"]
	});
	server = new wsrpc.Node(
		address,
		function(node) {
			node.remote_call('Web.StreamToMe', '>>> streaming', add_to_stream)
		}
	);
}

function add_to_log(node, data)
{
	log.lines.push({text: 'Dispatched '+ data.Name})
}

function add_to_stream(node, data)
{
	stream.lines.push({text: wsrpc.buffer_to_string(data)})
}

	</script>

<body onload="init_page('ws://{{ .Server }}/web')">
	<div>
		<button onclick="server.remote_call('Web.Dispatch', {Name:'Some work'}, add_to_log);">Dispatch Work</button>
		<button onclick="server.close();">Close</button>
	</div>
	<div>
		<div id="log" class="column">
			<div v-for="line in lines">[[ line.text ]]</div>
		</div>
		<div id="stream" class="column">
			<div v-for="line in lines">[[ line.text ]]</div>
		</div>
	</div>
</body>

</html>
